:root {
  --primary-color: #ffd93b;
  --primary-light-gray: #efefef;
  --dark-text: #000;
  --light-text: #fff;

  --paragraph-text: 20px;
  --paragraph-line-height: 35px;

  --landing-heading-text: 90px;
  --landing-heading-line-height: 110px;

  --landing-subheading-text: 30px;
  --landing-subheading-line-height: 40px;
}

* {
  font-family: 'new-hero', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

h3 {
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--dark-text);
}

p {
  font-size: var(--paragraph-text);
  line-height: var(--paragraph-line-height);
  color: var(--dark-text);
}

/* Header */
.sticky_nav {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
  background-color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
}

.img-container svg {
  height: 30px;
}

.nuxt-link {
  text-decoration: none;
  color: #000;
  margin: 0px 15px;
}

.nuxt-link-exact-active {
  color: var(--primary-color);
}

.nav_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-cross {
  display: none;
}

/* content */
.content-container {
  max-width: 1440px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}

.text-container {
  padding: 100px 50px 150px 50px;
}

.highlighted {
  background-color: var(--primary-color);
}

.primary-btn {
  background-color: #000000;
  border: none;
  color: var(--light-text);
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.newsletter-input {
  width: 65%;
  border: none;
  border-radius: 0;
  padding: 10px 15px;
  font-size: 16px;
  color: var(--dark-text);
  margin-right: 10px;
}

/* landing Image */
.landing-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-text-container {
  position: absolute;
  bottom: 150px;
  text-align: center;
  color: var(--light-text);
}

.landing-text-container h1,
.loader h1 {
  font-size: var(--landing-heading-text);
  line-height: var(--landing-heading-line-height);
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
}

.landing-text-container h2 {
  font-size: var(--landing-subheading-text);
  line-height: var(--landing-subheading-line-height);
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
}

/* Cards */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.card:first-child {
  grid-area: 1 / 1 / 2 / 2;
}

.card:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.card:last-child {
  grid-area: 1 / 3 / 2 / 4;
}

.card-image img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card-content {
  padding: 20px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card-action-btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--light-dark);
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

/* Slider */
.testimonial-slider {
  position: relative;
  width: 100%;
  margin: 50px auto 0;
}
.slider-wrapper {
  overflow: hidden;
}
.slider {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
}
.slide {
  min-width: calc(100% / 2);
  padding: 0 15px;
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.testimonial-image {
  height: 60px;
  overflow: hidden;
  margin-bottom: 15px;
}
.testimonial-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-controls {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: max-content;
  margin-top: 50px;
}

.slide-circle.active {
  width: 30px;
  height: 5px;
  background-color: var(--primary-color);
  margin: 0 5px;
}
.slide-circle {
  width: 15px;
  height: 5px;
  background-color: var(--primary-light-gray);
  margin: 0 5px;
}

/* footer */
.footer {
  background-color: var(--dark-text);
  padding: 50px 0;
  color: var(--light-text);
  margin-top: 5px;
}

.footer p {
  color: var(--light-text);
  font-weight: regular;
  font-size: 16px;
  line-height: 23px;
}

.footer a {
  color: var(--light-text);
  text-decoration: none;
  margin: 0 10px;
}

.footer .row {
  align-items: flex-end;
}

.newsletter {
  max-width: 50%;
  padding: 0px 50px 0px 0;
}

.booking {
  max-width: 50%;
  padding: 0px 0 0px 50px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col img {
  margin: 0 10px;
}

.col h4 {
  margin-bottom: 10px;
}

.footer .contact {
  margin-left: 20px;
}

/* loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: 999;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
}

.loader .text-container {
  position: absolute;
  bottom: 40px;
  left: 0px;
  right: 0px;
  text-align: center;
}

@media (max-width: 1440px) {
  .content-container {
    padding: 0 40px;
  }

  .text-container {
    padding: 100px 40px 150px 40px;
  }
}

/* Mobile */
@media (max-width: 900px) {
  :root {
    --landing-heading-text: 50px;
    --landing-heading-line-height: 50px;

    --landing-subheading-text: 20px;
    --landing-subheading-line-height: 30px;
  }

  h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .link-container {
    display: none;
  }

  .link-container.active {
    display: flex;
    position: fixed;
    top: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    max-width: 100vw;
    background-color: #fff;
    flex-direction: column;
    padding: 50px 30px;
  }

  .link-container.active a {
    margin: 15px 0;
  }

  .mobile-cross {
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
  }

  .mobile-cross.active .line:first-child {
    transform: rotate(45deg);
    transform-origin: 5px 0px;
    transition: 0.5s ease-in-out;
  }

  .mobile-cross.active .line:last-child {
    transform: rotate(-45deg);
    transform-origin: -2px 1px;
    transition: 0.5s ease-in-out;
  }

  .mobile-cross.active .line:nth-child(2) {
    width: 0px;
    height: 3px;
    background-color: var(--dark-text);
    margin: 3px 0;
    transition: 0.5s ease-in-out;
  }

  .line {
    width: 30px;
    height: 3px;
    background-color: var(--dark-text);
    margin: 3px 0;
    transition: 0.5s ease-in-out;
  }

  /* loader */
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
  }

  .loader .text-container {
    position: absolute;
    bottom: 110px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding: 0;
  }

  /* landing Container */
  .landing-text-container {
    bottom: 50px;
  }

  /* Content */
  .card-grid {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin: 10px 0;
  }

  .slide {
    min-width: 100%;
  }

  /* footer content */
  .footer-content .content-container {
    display: flex;
    flex-direction: column;
  }

  .footer .contact {
    margin-left: 0px;
  }
  
  .newsletter {
    margin-bottom: 100px;
    max-width: unset;
    padding: 0;
  }

  .booking {
    max-width: unset;
    padding: 0;
  }

  .newsletter .row {
    flex-direction: column;
  }

  .newsletter .row input {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer .row {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .col {
    margin-bottom: 15px;
  }

  .footer a {
    margin: 0;
    display: block
  }

  .footer .col img:first-child {
    margin-left: 0;
  }
}
